In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("AI_heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52.0,M,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53.0,M,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70.0,M,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61.0,M,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62.0,F,0,138,294,1,1,106,0,1.9,1,3,2,0

In [11]:
temp = df[df['target'] == 1]
temp

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
5,58.0,F,0,100,248,0,0,122,0,1.0,1,0,2,1
10,71.0,F,0,112,149,0,1,125,0,1.6,1,0,2,1
12,34.0,F,1,118,210,0,1,192,0,0.7,2,0,2,1
15,34.0,F,1,118,210,0,1,192,0,0.7,2,0,2,1
16,51.0,F,2,140,308,0,0,142,0,1.5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,45.0,M,1,128,308,0,0,170,0,0.0,2,0,2,1
1014,44.0,F,2,108,141,0,1,175,0,0.6,1,0,2,1
1019,47.0,M,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59.0,M,1,140,221,0,1,164,1,0.0,2,0,2,1
1023,50.0,F,0,110,254,0,0,159,0,0.0,2,0,2,1

In [13]:
temp = df[df['target'] == 0]
temp

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52.0,M,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53.0,M,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70.0,M,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61.0,M,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62.0,F,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,53.0,M,0,123,282,0,1,95,1,2.0,1,2,3,0
1018,41.0,M,0,110,172,0,0,158,0,0.0,2,0,3,0
1021,60.0,M,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47.0,M,0,110,275,0,0,118,1,1.0,1,1,2,0
1024,NaN,M,0,120,188,0,1,113,0,1.4,1,1,3,0